name: Build Artifact

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Tooling
        uses: jdx/mise-action@d6e32c1796099e0f1f3ac741c220a8b7eae9e5dd
        with:
          install: true
          cache: true
          experimental: true

      - name: Build
        run: |
          mise run setup
          mise run build

      - name: Upload dist artifact
        uses: actions/upload-artifact@v4
        with:
          name: opencode-palantir-dist
          if-no-files-found: error
          path: dist/
